FASTAPPLICATION_SERVER_LOG_LEVEL="debug"
FASTAPPLICATION_SERVER_LOG_FILE_NAME="../../logs/fastApplication.log"
FASTAPPLICATION_SERVER_BIND_ADDRESS=":8000"
FASTAPPLICATION_DATABASE_CONNECT_STRING="host=localhost database=song_library port=5433 sslmode=disable user=postgres password=1234"
FASTAPPLICATION_WORK_DATABASE_SCHEMA="core"